@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

.translate-nav{
  animation-name: nav-like-animation;
  animation-duration: .6s;
}

.navigate-leave{
  animation-name: nav-leave;
  animation-duration: .6s;
}

.font-inconsolata{
  font-family: Inconsolata;
  line-height: normal;
  font-weight: 600;
}

.bg-img{
  background-image: url("background-image:url(&quot;data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='%23171717'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e&quot;");
  background-repeat: no-repeat;
  background-size: cover;
}

@keyframes nav-like-animation {
  from {
    left: -20%;
  }
  to{
    left: 0%;
  }
}

@keyframes nav-leave {
  from {
    left: 0%;
  }
  to{
    left: -20%;
  }
}

::-webkit-scrollbar{
  display: none !important;
  width: 0rem;
}

.progress-bar {
  position: fixed;
  top: 8.5%;
  z-index: 9999;
  left: 0;
  right: 0;
  height: 5px;
  background: linear-gradient(to right, rgb(37, 36, 36), rgb(204, 204, 204), rgb(238, 234, 234));
  transform-origin: 0%;
}

@keyframes marquee {
  0% { 
    transform: translateX(0%); 
  }
  100% { 
    transform: translateX(-200%);
  }
}

.marquee {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
}

.marquee-content {
  display: flex;
  white-space: nowrap;
  animation: marquee 15s linear alternate-reverse infinite;
}

.marquee-item {
  flex-shrink: 0;
}

/* .containered {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
} */

/* .item {
  width: inherit;
  height: inherit;
  background: black;
  transform-origin: 50% 100%;
} */